body {
  font-family: "Baloo 2", cursive;
}

h5 {
  font-size: 21px;
  line-height: 1.5;
}

.weather-app-wrapper {
  margin: 50px auto;
  max-width: 1000px;
  min-width: 800px;
}

.weather-app {
  border: solid grey 1px;
  padding-bottom: 40px;
  padding-left: 40px;
  background: radial-gradient(
    343px at 46.3% 47.5%,
    rgb(242, 242, 242) 0%,
    rgb(241, 241, 241) 72.9%
  );
}

.search-bar {
  display: block;
  margin-top: 30px;
  margin: 20 auto;
  padding-right: 60px;
  font-size: 21px;
  color: grey;
}

.search-submit {
  margin-top: 30px;
  background: white;
}

.current-button {
  margin-top: 30px;
  margin-left: 20px;
  padding: 6px 38px;
  background: white;
}

.current-place-date-time {
  margin-left: 20px;
  font-size: 21px;
  vertical-align: middle;
  line-height: 1.2;
  font-weight: 500;
}

.current-condition {
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.current-condition-icon {
  display: block;
}

.current-condition-text {
  font-size: 21px;
  font-weight: 500;
  margin-top: -25px;
}

.current-condition-text:first-letter {
  text-transform: capitalize;
}

.current-temp {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
}

.current-weather-descriptions-container {
  padding: 5px;
}

.current-temp-container {
  text-align: center;
  margin-top: -10px;
}

.unit {
  position: relative;
  font-size: 16px;
  top: -20px;
}

.current-weather-descriptions {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  margin-top: -10px;
  margin-left: -20px;
  margin-bottom: -5px;
}

.five-day-forecast {
  text-align: center;
  font-size: 23px;
  margin-top: 25px;
  padding: 20px;
  background: white;
}

.forecast-sun {
  margin: 10px 0;
  font-size: 45px;
  color: orange;
}

.fa-cloud-sun {
  margin: 10px 0;
  font-size: 45px;
  color: #b0c4de;
}

.fa-cloud {
  margin: 10px 0;
  font-size: 45px;
  color: grey;
}

.fa-cloud-showers-heavy {
  margin: 10px 0;
  font-size: 45px;
  color: rgb(108, 166, 205);
}

.coder {
  margin-top: 5px;
}
